<h1>Crazy Keiths Music Store!</h1>

<% for album in @albums %>
 <p>Album Name: <%= album.name() %></p>
 <p>Stock: <%= album.stock_level() %></p> 
 <p>Artist: <%= album.find_artist.name() %></p>
 <!-- <p><a href="/albums/<%=album.id %>">Show</a></p> -->
 <hr>
 <% end %>


