

body {
  background-color: black; 
  background-image: url(/images/headphones.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 35%;
  background-attachment: fixed;
  color: papayawhip;
  font-family: 'Verdana', sans-serif;
  padding: 0px;
  margin: 0px;
}

hr.style1 {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px white;
}
hr.style1:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Verdana', sans-serif;
  color: pink;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.8em;
  color: darkslategray;
  margin-bottom: 30px;
}

a, a:unvisited {
  color: papayawhip;
  text-decoration: none;
}

a, a:visited {
  color: papayawhip;
  text-decoration: none;
}

a, a:hover {
  color: darkslategray;
  text-decoration: none;
}

ul {
  padding: 0px;
  margin-top: 90px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 25px;
  text-transform: uppercase;
}