<h1>Albums</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>quantity</th>
    <th></th>
    <th>stock level</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><%= album.name %></td>
    <td>|</td>
    <td><%= album.quantity %></td>
    <td>|</td>
    <td><%= album.stock_level %></td>
    <td>|</td>
    <td><%= album.find_artist.name %></td>
    <td>|</td>
  </tr>
  <% end %>
</table>

<p><a href="/albums/new">New Album</a></p>

