<h1> New Album </h1>
<hr class="style1">

<form action="/albums" method="post">
  <label>
    Select Artist:
    <select name="artist_id">
      <%for artist in @artists%>
      <option value="<%=artist.id%>"><%=artist.name%></option>
      <%end%>
    </select>
  </label>

  <label>
    Album Name:
    <input type="text" name="name">
  </label>

  <label>
  Cost of Album:
    <select name="price_id">
    <%for price in @prices%>
    <option value="<%=price.id%>"><%=price.price_buy%></option>
    <%end%>
    </select>
  </label>

  <input class="btn btn--new" type='submit' value="Add Album"