<h1> Replenish Stock </h1>
<hr class="style1">
<form action="/albums/<%= @album.id %>/buy" method="post">
<label>
   Artist: <%= @album.find_artist.name%>
  
</label>

<p><label>
Album: <%= @album.name() %>
</label></p>

<p>
<label>
Current Number of Albums: <%=@album.quantity%>
</label>
</p>

<p>
<label>
Number of Albums Bought:
  <input type="integer" name="quantity">
</label>
</p>

<input class="btn btn--new" type='submit' value="update">
</form>