<h1>Artists</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>album</th>
  </tr>

  <% albums = @artist.find_album %>
  <% for album in albums %>
  <tr>
    <td><%= @artist.name %></td>
    <td>|</td>
    <td><%= album.name %></td>
  </tr>
  <% end %>

</table>


